In [1]:
import pandas as pd

# Import data set
fb = pd.read_excel('D:/Uni/5 Semester/Data Wrangling/final/Facebook-Google+andNewsStory.xlsx')
missing = pd.read_excel('D:/Uni/5 Semester/Data Wrangling/final/Missing Publication Date.xlsx')
pereview = pd.read_excel('D:/Uni/5 Semester/Data Wrangling/final/peerreview-patent and policy data.xlsx')
subcode = pd.read_excel('D:/Uni/5 Semester/Data Wrangling/final/Subject codes.xlsx')
tweet = pd.read_excel('D:/Uni/5 Semester/Data Wrangling/final/Tweet Data.xlsx')

In [2]:
# Summary of the data set
print("Column names of FB data set \n", fb.columns.tolist())
print("Column names of Missing data set \n", missing.columns.tolist())
print("Column names of Preview data set \n", pereview.columns.tolist())
print("Column names of Subject Code data set \n", subcode.columns.tolist())
print("Column names of Tweet data set \n", tweet.columns.tolist())

Column names of FB data set
 ['Mention Type', 'Mention Date', 'Outlet or Author', 'Mention Title', 'Country', 'External Mention ID', 'Mention URL', 'Research Output Title', 'Journal/Collection Title', 'Output Type', 'SubjectCode1', 'SubjectCode2', 'SubjectCode3', 'Publication Date', 'Altmetric Attention Score', 'DOI', 'ISBN', 'National Clinical Trial ID', 'URI', 'PubMed ID', 'PubMedCentral ID', 'Handle.net IDs', 'ADS Bibcode', 'arXiv ID', 'RePEc ID', 'SSRN', 'URN']
Column names of Missing data set
 ['Mention Type', 'Mention Date', 'Outlet or Author', 'Mention Title', 'Country', 'External Mention ID', 'Mention URL', 'Research Output Title', 'Journal/Collection Title', 'Output Type', 'SubjectCode1', 'SubjectCode2', 'SubjectCode3', 'Altmetric Attention Score', 'DOI', 'ISBN', 'National Clinical Trial ID', 'URI', 'PubMed ID', 'PubMedCentral ID', 'Handle.net IDs', 'ADS Bibcode', 'arXiv ID', 'RePEc ID', 'SSRN', 'URN']
Column names of Preview data set
 ['Mention Type', 'Mention Date', 'Outlet or Author', 'Mention Title', 'Country', 'External Mention ID', 'Mention URL', 'Research Output Title', 'Journal/Collection Title', 'Output Type', 'SubjectCode1', 'SubjectCode2', 'SubjectCode3', 'Publication Date', 'Altmetric Attention Score', 'DOI', 'ISBN', 'National Clinical Trial ID', 'URI', 'PubMed ID', 'PubMedCentral ID', 'Handle.net IDs', 'ADS Bibcode', 'arXiv ID', 'RePEc ID', 'SSRN', 'URN']
Column names of Subject Code data set
 ['Subject Code', 'Subject']
Column names of Tweet data set
 ['Outlet or Author', 'External Mention ID', 'Research Output Title', 'Journal/Collection Title', 'Output Type', 'SubjectCode1', 'SubjectCode2', 'SubjectCode3', 'Publication Date', 'DOI']

In [3]:
# Merge data sets into one data frame
merge_df = pd.concat([fb, missing, pereview, subcode, tweet])
print("Column names of Merge data set \n", merge_df.columns.tolist())

print(merge_df.shape[0])

Column names of Merge data set
 ['Mention Type', 'Mention Date', 'Outlet or Author', 'Mention Title', 'Country', 'External Mention ID', 'Mention URL', 'Research Output Title', 'Journal/Collection Title', 'Output Type', 'SubjectCode1', 'SubjectCode2', 'SubjectCode3', 'Publication Date', 'Altmetric Attention Score', 'DOI', 'ISBN', 'National Clinical Trial ID', 'URI', 'PubMed ID', 'PubMedCentral ID', 'Handle.net IDs', 'ADS Bibcode', 'arXiv ID', 'RePEc ID', 'SSRN', 'URN', 'Subject Code', 'Subject']
27189

In [4]:
columns_to_clean = ['SubjectCode1', 'SubjectCode2', 'SubjectCode3']
merge_df.dropna(subset=columns_to_clean, inplace=True)

merge_df.to_csv('clean_null.csv', index=False)
print(merge_df.head)
print(merge_df.shape[0])

<bound method NDFrame.head of       Mention Type        Mention Date  Outlet or Author  \
2       News story 2022-06-07 14:00:00     PLoS Medicine
38      News story 2022-05-19 19:28:00  The Conversation
39      News story 2022-05-19 19:28:00       Yahoo! News
45      News story 2022-05-18 06:16:00               MSN
47      News story 2022-05-18 00:00:00        La Tribune
...            ...                 ...               ...
18431          NaN                 NaT        20769532.0
18443          NaN                 NaT               NaN
18444          NaN                 NaT               NaN
18451          NaN                 NaT        59076208.0
18456          NaN                 NaT       347759440.0

                                           Mention Title         Country  \
2      What influences Bangladeshi Boro rice farmers’...  United Kingdom
38     Sri Lanka : de la crise économique à la crise ...       Australia
39     De la crise économique à la crise politique : ...   United States
45     Tractations politiques et alliances électorale...   United States
47     Tractations politiques et alliances électorale...          France
...                                                  ...             ...
18431                                                NaN             NaN
18443                                                NaN             NaN
18444                                                NaN             NaN
18451                                                NaN             NaN
18456                                                NaN             NaN

       External Mention ID                                        Mention URL  \
2                      NaN  http://ct.moreover.com/?a=47930435815&p=1pl&v=...
38                     NaN  http://ct.moreover.com/?a=47784917179&p=1pl&v=...
39                     NaN  http://ct.moreover.com/?a=47782446217&p=1pl&v=...
45                     NaN  http://ct.moreover.com/?a=47766804818&p=1pl&v=...
47                     NaN  http://ct.moreover.com/?a=47766626914&p=1pl&v=...
...                    ...                                                ...
18431         1.502250e+17                                                NaN
18443         1.275040e+17                                                NaN
18444         1.262660e+17                                                NaN
18451         1.147840e+17                                                NaN
18456         1.073860e+17                                                NaN

                                   Research Output Title  \
2      Development of balanced nutrient management in...
38     Sri Lanka : un pays qui s’enfonce de nouveau d...
39     Sri Lanka : un pays qui s’enfonce de nouveau d...
45     Gender and Violence against Political Candidat...
47     Gender and Violence against Political Candidat...
...                                                  ...
18431  Amphibian and butterfly diversity across a tro...
18443  The process and costs of publishing medical jo...
18444  The process and costs of publishing medical jo...
18451  Patient perceptions of risk factors for chroni...
18456        Accounting and its Environment in Sri Lanka

                         Journal/Collection Title Output Type  ...  PubMed ID  \
2                            Global Food Security     Article  ...        NaN
38                                        EchoGéo     Article  ...        NaN
39                                        EchoGéo     Article  ...        NaN
45                              Politics & Gender     Article  ...        NaN
47                              Politics & Gender     Article  ...        NaN
...                                           ...         ...  ...        ...
18431                         Animal Conservation     Article  ...        NaN
18443                                    BMJ Open     Article  ...        NaN
18444                                    BMJ Open     Article  ...        NaN
18451  International journal of clinical practice     Article  ...        NaN
18456                                      Abacus     Article  ...        NaN

       PubMedCentral ID  Handle.net IDs ADS Bibcode  arXiv ID RePEc ID  SSRN  \
2                   NaN     10883/21061         NaN       NaN      NaN   NaN
38                  NaN             NaN         NaN       NaN      NaN   NaN
39                  NaN             NaN         NaN       NaN      NaN   NaN
45                  NaN             NaN         NaN       NaN      NaN   NaN
47                  NaN             NaN         NaN       NaN      NaN   NaN
...                 ...             ...         ...       ...      ...   ...
18431               NaN             NaN         NaN       NaN      NaN   NaN
18443               NaN             NaN         NaN       NaN      NaN   NaN
18444               NaN             NaN         NaN       NaN      NaN   NaN
18451               NaN             NaN         NaN       NaN      NaN   NaN
18456               NaN             NaN         NaN       NaN      NaN   NaN

       URN Subject Code  Subject
2      NaN          NaN      NaN
38     NaN          NaN      NaN
39     NaN          NaN      NaN
45     NaN          NaN      NaN
47     NaN          NaN      NaN
...    ...          ...      ...
18431  NaN          NaN      NaN
18443  NaN          NaN      NaN
18444  NaN          NaN      NaN
18451  NaN          NaN      NaN
18456  NaN          NaN      NaN

[4863 rows x 29 columns]>
4863

In [5]:
# Function to replace SubjectCode with Subject names
def replace_subject_code(row):
    try:
        row['SubjectCode1'] = subcode.loc[subcode['Subject Code'] == row['SubjectCode1'], 'Subject'].iloc[0]
    except IndexError:
        row['SubjectCode1'] = None
        
    try:
        row['SubjectCode2'] = subcode.loc[subcode['Subject Code'] == row['SubjectCode2'], 'Subject'].iloc[0]
    except IndexError:
        row['SubjectCode2'] = None
        
    try:
        row['SubjectCode3'] = subcode.loc[subcode['Subject Code'] == row['SubjectCode3'], 'Subject'].iloc[0]
    except IndexError:
        row['SubjectCode3'] = None

    return row

# Perform the join and replace operation
rename_df = merge_df.apply(replace_subject_code, axis=1)
 
# Csv file 
rename_df.to_csv('rename_df.csv', index=False)
print("Column names of Rename data set \n", rename_df.columns.tolist())

print(rename_df.shape[0])

Column names of Rename data set
 ['Mention Type', 'Mention Date', 'Outlet or Author', 'Mention Title', 'Country', 'External Mention ID', 'Mention URL', 'Research Output Title', 'Journal/Collection Title', 'Output Type', 'SubjectCode1', 'SubjectCode2', 'SubjectCode3', 'Publication Date', 'Altmetric Attention Score', 'DOI', 'ISBN', 'National Clinical Trial ID', 'URI', 'PubMed ID', 'PubMedCentral ID', 'Handle.net IDs', 'ADS Bibcode', 'arXiv ID', 'RePEc ID', 'SSRN', 'URN', 'Subject Code', 'Subject']
4863

In [6]:
# Define a custom function to merge the subject codes
def merge_subject_codes(row):
    codes = [str(row["SubjectCode1"]), str(row["SubjectCode2"]), str(row["SubjectCode3"])]
    merged_codes = "; ".join(code for code in codes if code != "")
    return merged_codes

# Apply the custom function to create the new merged column
rename_df["Subjects"] = rename_df.apply(merge_subject_codes,axis=1)

rename_df.to_csv('rename_merge.csv', index=False)
print("Column names of Rename data set \n", rename_df.columns.tolist())
print(rename_df.shape[0])

Column names of Rename data set
 ['Mention Type', 'Mention Date', 'Outlet or Author', 'Mention Title', 'Country', 'External Mention ID', 'Mention URL', 'Research Output Title', 'Journal/Collection Title', 'Output Type', 'SubjectCode1', 'SubjectCode2', 'SubjectCode3', 'Publication Date', 'Altmetric Attention Score', 'DOI', 'ISBN', 'National Clinical Trial ID', 'URI', 'PubMed ID', 'PubMedCentral ID', 'Handle.net IDs', 'ADS Bibcode', 'arXiv ID', 'RePEc ID', 'SSRN', 'URN', 'Subject Code', 'Subject', 'Subjects']
4863

In [7]:
# Create a new column of mention timme
rename_df['Mention Time'] = pd.to_datetime(rename_df['Mention Date']).dt.time
# Remove the time portion from the "Mention Date" column
rename_df['Mention Date'] = pd.to_datetime(rename_df['Mention Date']).dt.date

print(rename_df.shape[0])
rename_df.head()

4863

,Mention Type,Mention Date,Outlet or Author,Mention Title,Country,External Mention ID,Mention URL,Research Output Title,Journal/Collection Title,Output Type,...,Handle.net IDs,ADS Bibcode,arXiv ID,RePEc ID,SSRN,URN,Subject Code,Subject,Subjects,Mention Time
2,News story,2022-06-07,PLoS Medicine,What influences Bangladeshi Boro rice farmers’...,United Kingdom,NaN,http://ct.moreover.com/?a=47930435815&p=1pl&v=...,Development of balanced nutrient management in...,Global Food Security,Article,...,10883/21061,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Earth Sciences; Geology; Environmental Sciences,14:00:00
38,News story,2022-05-19,The Conversation,Sri Lanka : de la crise économique à la crise ...,Australia,NaN,http://ct.moreover.com/?a=47784917179&p=1pl&v=...,Sri Lanka : un pays qui s’enfonce de nouveau d...,EchoGéo,Article,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Environmental Sciences; Environmental Science ...,19:28:00
39,News story,2022-05-19,Yahoo! News,De la crise économique à la crise politique : ...,United States,NaN,http://ct.moreover.com/?a=47782446217&p=1pl&v=...,Sri Lanka : un pays qui s’enfonce de nouveau d...,EchoGéo,Article,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Environmental Sciences; Environmental Science ...,19:28:00
45,News story,2022-05-18,MSN,Tractations politiques et alliances électorale...,United States,NaN,http://ct.moreover.com/?a=47766804818&p=1pl&v=...,Gender and Violence against Political Candidat...,Politics & Gender,Article,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Studies In Human Society; Political Science; S...,06:16:00
47,News story,2022-05-18,La Tribune,Tractations politiques et alliances électorale...,France,NaN,http://ct.moreover.com/?a=47766626914&p=1pl&v=...,Gender and Violence against Political Candidat...,Politics & Gender,Article,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Studies In Human Society; Political Science; S...,00:00:00

In [8]:
# Rename the columns
rename_df.rename(columns={'Mention Title': 'Title', 'Mention URL': 'URL', 'Old_Column3': 'New_Column3'}, inplace=True)

# List of column names to save
columns_to_save = ["Mention Type","Mention Date","Mention Time","Outlet or Author","Title","Country","Subjects","Publication Date","DOI","URL"]

# Create a new DataFrame with only the columns to save
Final = rename_df[columns_to_save]
Final

Final.to_csv('final.csv', index=False)
print("Column names of Rename data set \n", Final.columns.tolist())
Final.info()
Final.head()

Column names of Rename data set
 ['Mention Type', 'Mention Date', 'Mention Time', 'Outlet or Author', 'Title', 'Country', 'Subjects', 'Publication Date', 'DOI', 'URL']
<class 'pandas.core.frame.DataFrame'>
Index: 4863 entries, 2 to 18456
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Mention Type      931 non-null    object
 1   Mention Date      907 non-null    object
 2   Mention Time      907 non-null    object
 3   Outlet or Author  4796 non-null   object
 4   Title             862 non-null    object
 5   Country           743 non-null    object
 6   Subjects          4863 non-null   object
 7   Publication Date  4804 non-null   datetime64[ns]
 8   DOI               4858 non-null   object
 9   URL               891 non-null    object
dtypes: datetime64[ns](1), object(9)
memory usage: 417.9+ KB

,Mention Type,Mention Date,Mention Time,Outlet or Author,Title,Country,Subjects,Publication Date,DOI,URL
2,News story,2022-06-07,14:00:00,PLoS Medicine,What influences Bangladeshi Boro rice farmers’...,United Kingdom,Earth Sciences; Geology; Environmental Sciences,2021-03-01,10.1016/j.gfs.2020.100464,http://ct.moreover.com/?a=47930435815&p=1pl&v=...
38,News story,2022-05-19,19:28:00,The Conversation,Sri Lanka : de la crise économique à la crise ...,Australia,Environmental Sciences; Environmental Science ...,2008-04-08,10.4000/echogeo.2543,http://ct.moreover.com/?a=47784917179&p=1pl&v=...
39,News story,2022-05-19,19:28:00,Yahoo! News,De la crise économique à la crise politique : ...,United States,Environmental Sciences; Environmental Science ...,2008-04-08,10.4000/echogeo.2543,http://ct.moreover.com/?a=47782446217&p=1pl&v=...
45,News story,2022-05-18,06:16:00,MSN,Tractations politiques et alliances électorale...,United States,Studies In Human Society; Political Science; S...,2020-11-26,10.1017/s1743923x20000471,http://ct.moreover.com/?a=47766804818&p=1pl&v=...
47,News story,2022-05-18,00:00:00,La Tribune,Tractations politiques et alliances électorale...,France,Studies In Human Society; Political Science; S...,2020-11-26,10.1017/s1743923x20000471,http://ct.moreover.com/?a=47766626914&p=1pl&v=...